#logo {
  position:absolute; 
    top: 123px;
    left: 0;
    right: 0;
    width:200px;
    height:400px;
    margin: auto;
    background-color:antiquewhite;
}
.input {
    position: relative;
    left: 40px;
    width: 50px;
    border: 1px solid #ece7e7;
}
#button {
    position: relative;
    left: 15px;
    cursor: pointer;
    font-family: Cambria;
    width: 85%;
    background-color: ghostwhite;
    color: black;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 55px;
    cursor: pointer;
}

#button:hover {
    background-color: aliceblue;
}